<html>
    <head>
        <title>Create Students</title>
    </head>
    <body>
        <form method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" required/>
            <label for="school">School</label>
            <input type="text" name="school" required />
            <button type="submit">Submit</button>
        </form><br><br>
        
        </body>
        <ul >
            <a href="/students/">Go back to Students</a>
            
        </ul>
</html>